.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 560px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    z-index: 4;
}

@media screen and (max-width:670px) {
    .cover__title {
     max-width: 75%;
     font-size: 32px;
     line-height: 35px;
    }
}